@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "./searchModal.scss";

.language-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.search-box {
  width: 150px;
}

.featuredImage {
  width: 150px;
}

.blog-blogpost {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .blog-blogpost {
    flex-direction: column;
  }
}

.blog-blogpost-item {
  padding: 5px;
}

body {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: rgb(170, 0, 0);
  color: white;

  .title {
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    color: lightgrey;
  }
}

.level {
  align-items: normal;
}

.level-item {
  height: 100%;
  .title {
    margin-bottom: 5px;
  }
}

.footer-item {
  height: 100%;
  li {
    margin-bottom: 5px;
  }
}
