@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "./searchModal.scss";

html,
body {
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: 100vh;
  margin-bottom: -10vh;
}

.push {
  height: 10vh;
}

footer {
  height: 100%;
  width: 100%;
  background-color: rgb(170, 0, 0);
  color: white;

  .title {
    color: white;
    font-size: 105%;
    margin-bottom: 0.8rem !important;
  }

  a {
    color: white;
  }
  a:hover {
    color: #ffc2c2;
    .socialMediaIcon {
      filter: invert(87%) sepia(78%) saturate(459%) hue-rotate(291deg)
        brightness(100%) contrast(101%);
    }
  }
}

.footer-level {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 20%;
  margin: 10px 15px;

  li {
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 750px) {
    max-width: 90%;
  }
}

.socialMediaIcon {
  height: 1rem;
  width: 1rem;
  margin-right: 4px;
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(16deg)
    brightness(98%) contrast(105%);
}

.language-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.search-box {
  width: 150px;
}

.basalt-container {
  margin: 15px;
}

.featuredImage {
  width: 100%;
}

.featuredImage-small {
  width: 150px;
}

.basalt-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basalt-level {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0px;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.basalt-level-left {
  width: 20%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media only screen and (max-width: 500px) {
    width: 50%;
  }
}

.basalt-level-right {
  width: 80%;
  padding: 15px 8px;

  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 15px 12px;
  }
}

.basalt-level-item {
  display: flex;
  flex-direction: column;
}
